* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    position: relative;
    /* background-color: rgb(82 126 124); */
    background-color: rgb(0 20 19);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 2%;
    outline: none;
    overflow: hidden;
    backdrop-filter: blur(50px);
    z-index: 40;
}

.icon {
    width: 13rem;
    height: 13rem;
    margin-left: 10rem;
}

h1 {
    font-size: xxx-large;
    font-family: 'Poppins', sans-serif;
}

.data {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.input {
    text-align: center;
    flex-direction: column;
}

#email,
#password {
    color: black;
    font-weight: bolder;
    height: 3rem;
    width: 21rem;
    margin-top: 1rem;
    padding: 5px;
    border-radius: .5rem;
    border: none;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

#login,
#signup {
    height: 3rem;
    width: 10rem;
    border-radius: 30% 0%;
    margin-top: 1rem;
    cursor: pointer;
    color: black;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bolder; */
}

.shape-1 {
    position: absolute;
    left: 250px;
    bottom: -20px;
    width: 400px;
    height: 500px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: linear-gradient(to right, #80d63a, red);
}

.shape-2 {
    position: absolute;
    right: 200px;
    top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 70% 30% 85% 15% / 60% 80% 20% 40%;
    background: linear-gradient(to right, #1fddff, #ff4d1f);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 2%;
    outline: none;
    overflow: hidden;
    backdrop-filter: blur(50px);
    z-index: 40;
}